<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <%= render "shared/sidenav" %>

    </div>
    <div class="col-sm-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <% if teacher_logged_in? %><h3 class="panel-title">成绩管理: <%=@course.name%></h3><% end %>
          <% if student_logged_in? %><h3 class="panel-title">课程评价参考</h3><% end %>
        </div>
        <div class="panel-body" style="min-height: 450px">
          <table class="table table-striped table-hover">
            <thead>

            <tr>
              <th>课程</th>
              <th>综合评分</th>
              <th>课堂效果</th>
              <th>作业量</th>
              <th>期末考核难度</th>
              <th>课程收获</th>


            </tr>
            </thead>
            <tbody>
            <% num = 0 %>
            <% eva_num = 0.0 %>
            <% cla_num = 0.0 %>
            <% hom_num = 0.0 %>
            <% dif_num = 0.0 %>
            <% har_num = 0.0 %>
            <% name_num = nil %>
            <% be_valued = 0 %>
            <% @grades.each do |grade| %>
              <% if grade.evaluate_score != nil && grade.class_score != nil && grade.homework_score != nil && grade.difficulty_score != nil && grade.harvest_score != nil%>
                <% be_valued = 1 %>
                <% num = num + 1 %>
                <% eva_num = eva_num + grade.evaluate_score %>
                <% cla_num = cla_num + grade.class_score %>
                <% hom_num = hom_num + grade.homework_score %>
                <% dif_num = dif_num + grade.difficulty_score %>
                <% har_num = har_num + grade.harvest_score %>
                <% name_num = grade.course.name %>
              <% end %>     
            <% end %>
             <tr>
                <th><%= name_num %></th>
            <% if be_valued == 1 %>             
                <th><%= eva_num / num %></th>
                <th><%= cla_num / num %></th>
                <th><%= hom_num / num %></th>
                <th><%= dif_num / num %></th>
                <th><%= har_num / num %></th>
            <% else %>
                <th> </th>
                <th> </th>
                <th>该课程还没有被评价过</th>  
                <th> </th>
                <th> </th>            
            <% end %>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


