<div class="container-fluid">
  <div class="row">

    <div class="col-sm-2">
      <%= render "shared/sidenav" %>
    </div>

    <div class="col-sm-10">

      <div class="panel panel-primary filterable">
        <div class="panel-heading">
          <h3 class="panel-title">学分统计</h3>
        </div>

        <div class="panel-body">
          <table class="table table-responsive table-bordered table-hover">
            <thead>
            <tr>
              <th>类别</th>
              <th>公共必修课程及学分</th>
              <th>公共选修课及学分</th>
              <th>专业学位课学分要求</th>
              <th>总学分要求</th>
            </tr>

            <tbody>

                <tr>
                  <th>学习要求</th>
                  <% credit_sum = 30 %>
                  <% credit_maj = 12 %>
                  <td>人文系列讲座（1学分)<br>
                       中国特色社会主义理论与实践研究（1学分）<br>
                       自然辩证法概论（1学分）<br>
                       硕士学位英语（英语A）（3学分）<br>
                       人文系列讲座（1学分）<br>

                      <%if current_user.degree == "博士" %>
                        <% credit_sum = 37 %> 
                        <% credit_maj = 16 %>                 
                       中国马克思主义与当代（1学分）<br>
                       英语B<br>
                      <% elsif current_user.degree == "专硕" %>
                        知识产权（1学分）<br>
                        信息检索（1学分）<br>
                        专业英语（2学分）<br> 
                      <% end -%>
                  </td>
                  <td>>=2学分</td>
                  <td>>=<%= credit_maj %>学分</td>
                  <td>>=<%= credit_sum %>学分</td>
                </tr>

                <tr>
                  <th>选课情况</th>
                  <% count_pub_com = 0.0%>
                  <% count_pub_ele = 0.0%>
                  <% count_major = 0.0%>
                  <% @course.each do |course| %>
                    <% if course.course_type == "公共必修课" %>
                      <% count_pub_com = count_pub_com + (course.credit[3..5]).to_i %>
                    <% elsif course.course_type == "专业核心课" || course.course_type == "一级学科核心课" || course.course_type == "专业普及课" || course.course_type == "专业研讨课"
                      %>
                      <% count_major = count_major + (course.credit[3..5]).to_i %>
                      <% else %>
                      <% count_pub_ele = count_pub_ele + (course.credit[3..5]).to_i %>
                      <% end %>

                  <% end %>

                  <td><%= count_pub_com %>学分</td>
                  <td><%= count_pub_ele %>学分</td>
                  <td><%= count_major %>学分</td>
                  <td><%= count_pub_com + count_pub_ele + count_major %>学分</td>
                </tr>

                <tr>
                  <th>获取学分</th>
                  <% get_pub_com = 0.0%>
                  <% get_pub_ele = 0.0%>
                  <% get_major = 0.0%>
                  <% @current_user.grades.each do |grade| %>
                    <% if grade.grade != nil %>
                      <% get_course = Course.find_by_id(grade.course_id) %>
                      <% if get_course.course_type == "公共必修课" %>
                        <% get_pub_com = get_pub_com + (get_course.credit[3..5]).to_i %>
                      <% elsif get_course.course_type == "专业核心课" || get_course.course_type == "一级学科核心课" || get_course.course_type == "专业普及课" || get_course.course_type == "专业研讨课"
                        %>
                        <% get_major = get_major + (get_course.credit[3..5]).to_i %>
                        <% else %>
                        <% get_pub_ele = get_pub_ele + (get_course.credit[3..5]).to_i %>
                        <% end %>

                    <% end %>

                  <% end %>

                  <td><%= get_pub_com %>学分</td>
                  <td><%= get_pub_ele %>学分</td>
                  <td><%= get_major %>学分</td>
                  <td><%= get_pub_com + get_pub_ele + get_major %>学分</td>

                </tr>


            
                
                
            </tbody>
          </table>

        
        </div>
      </div>
    </div>
  </div>
</div>